
*
{
    margin: 0px;
    padding: 0px;
}

.navbar
{
    background-color: rgb(34, 30, 30);
    color: white;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

 .nav
{
     margin-left: 30px;
}
 
.content
{
    display: flex;
    justify-content: center;
}

.content>img
{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    justify-content: center;
    border-radius: 50%;
}

.name
{
    /* border: 2px solid black; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
   align-content: space-between;
   
}

p{
    font-size: larger;
    margin-top: 20px;
}


.about
{
    margin-top: 80px;
}
 
.skills
{
    margin-top: 80px;
}
.html
{   
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
 .progresshtml
{
   margin-right: 20px;
   margin-bottom: 50px;
    width: 300px;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
    
}

.progressbarhtml
{
    background-color: rgb(20, 179, 20);
    width: 90%;
    height: 10px;
    border-radius: 20px;
    
}

.progresscss
{
    margin-right: 20px;
    width: 300px;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.progressbarcss
{
    background-color: rgb(20, 179, 20);
    width: 80%;
    height: 10px;
    border-radius: 20px;
}

.progressjs
{
    margin-right: 20px;
    width: 300px;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
    
}

.progressbarjs
{
    background-color: rgb(20, 179, 20);
    width: 70%;
    height: 10px;
    border-radius: 20px;
}

.progressreact
{
    margin-right: 20px;
    width: 300px;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.progressbarreact
{
    background-color: rgb(20, 179, 20);
    width: 65%;
    height: 10px;
    border-radius: 20px;
}

.progressnode
{
    margin-right: 20px;
    width: 93vw;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.progressbarnode
{
    background-color: rgb(20, 179, 20);
    width: 60%;
    height: 10px;
    border-radius: 20px;
}

.Projects
{   
     margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Projects>h2
{
    flex-basis: 92vw;
    margin-bottom: 20px;
}

.p1>p{
    width: 45vw;
    height: auto;
    margin-left: 25px;
}

.p1>h3
{
    margin-top: 10px;
    margin-left: 25px;

}
.p1>img
{
    margin-left: 25px;
     margin-right: 25px;
    margin-top: 50px;
    width: 45vw;
    height: 45vh;
}

.contactme
{
    margin-top: 80px;
     
}

.cont
{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
     
 
.contname>input
{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;   
}

.contname>textarea{
    width: 400px;
}

.button>button
{
    margin-top: 15px;
    width: 400px;
}

.footer
{
    margin-top: 50px;
    background-color: rgb(34, 30, 30);
    color: white;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}

 