
.nav
{
   background-color: black;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 color: white;
   
}


.name
{

    /* border: 2px solid white; */
   font-size: 20px;
    
   margin-left: 20px;
   color: orangered;
   justify-content: center;
   min-width: 70px
   
}

.menu
 {
    /* border: 2px solid white; */
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 350px;
   margin-right: 5px;
 }

 .foot
{
   
    font-size: 20px;
    background-color: orangered;
    color: white;
    margin-right: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    
}


@media (max-width:480px)
{
    .nav{
        display: flex;
        flex-direction: column;
        height: auto;

    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        
         
    }
     
    
}