 .parent
 {
    display: flex;
  
 }
 
 .left
 {
    height: 100px;
    width: 100px;
    background: linear-gradient(red, black);
    border-radius: 50%;
    border: 3px solid black;
    animation-name: ball;
    animation-duration: 2000ms;
   display: flex;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    position: relative;
    top: 45vh;
 }

 @keyframes ball 
 {
    0%
    {
        transform: translateX(0px);
    }

    100%
    {
        transform: translateX(90vw);
    }

 }

 .top
 {

    height: 100px;
    width: 100px;
    background: linear-gradient(blue, red);
    border-radius: 50%;
    border: 3px solid black;
    animation-name: mid;
    animation-duration: 1500ms;
    
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    position: absolute;
    left: 45vw;
     
}

  @keyframes mid
 {

    0%
    {
        transform: translateY(0px); 
    }

    100%
    {
        transform: translateY(90vh);
    }
 }   

  .right
 {

    height: 100px;
    width: 100px;
    background: linear-gradient(blue, red);
    border-radius: 50%;
    border: 3px solid black;
    animation-name:rightball;
    animation-duration: 1500ms;
   /* transform: translateX(92vw); */
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    position: absolute;
   left: 92vw;
     
     
}

@keyframes rightball
 {

    0%
    {
         transition: translateZ(100px);
    }

    100%
    {
      
    }
 }   

 /* .bottom
 {

    height: 100px;
    width: 100px;
    background: linear-gradient(blue, red);
    border-radius: 50%;
    border: 3px solid black;
    animation-name:rightdiag;
    animation-duration: 1500ms;
    transform: translateX(92vw);
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-timing-function: ease-in;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    position: absolute;
     
     
}

@keyframes rightdiag
 {

    0%
    {
        transform: translateZ(200px);
    }

    100%
    {
       
    }
 }    */
