
*
{
    margin: 0px;
    padding: 0px;
}


.welcome
{   background-color:green;
    color: white;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    animation-name: welcomepage;
    animation-duration: 2s;
}

@keyframes welcomepage
{
    0%
    {
        transform: translateY(-100px);
    }
    100%
    {
        transform: translateY(0px);
    }
}


.nav
{   
    height: 40px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu
{
    width: 350px;
    display: flex;
    justify-content: space-between;
    
}

.hello
{
    height: 40px;
    width:80px;
     font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;     

}

.hello:hover{
    background-color: white;
    color: black;
    transition-duration: 400ms;
}

.content
{
    margin:30px;
    display: flex;
    font-size: 19px;
}

.about
{
    width: 1100px;
}

.about>p{
    margin-top: 20px;
}
.about>img{
    margin-top: 20px;
}

 

.outerlink
{
    
    width: 400px;
    
}

.footer
{
    height: 50px;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}