


/* div
{
    height: 100px;
    width: 100px;
    background-color: crimson;
    transform: translate(200px);
    transform: translateX(200px);
    transform: translateY(200px); 
    transform: translate(200px,200px);
    transition-duration: 3s;
}


div:hover
{
    transform: rotate(1000deg);
    transform: translate(200px,200px);
} */
body{
    perspective: 900px;
}

 .parent
 {
     height: 200px;
     width: 200px;
     margin: 30px auto;
     position: relative;
     transform-style: preserve-3d;
    
 }

.parent:hover{
    transition-duration: 3s;
    transform: rotateY(180deg);
}

 .A
 {
    height: 100%;
    width: 100%;
    background-color: crimson;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
    
 }

 .B
 {
    height: 100%;
    width: 100%;
    background-color:coral;
    position: absolute;
    z-index: 1;

 }
  